/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.draftedPlayerLightGray { -fx-dark-text-color: #D3D3D3;
	             -fx-mid-text-color:  #D3D3D3;
	             -fx-light-text-color:  #D3D3D3;
	             }
	             
.draftedPlayerGray { -fx-dark-text-color: #808080;
                 -fx-mid-text-color:  #808080;
                 -fx-light-text-color:  #808080;}
                 
.undraftedPlayerBlack {-fx-dark-text-color: #000000;
                 -fx-mid-text-color:  #000000;
                 -fx-light-text-color:  #000000;}

.draftedPlayerRed { -fx-background-color: #FF0000;
	                -fx-strikethrough: true;
	              }

.root {
    -fx-background-image: url("../../resources/nfl_football_field_small_light.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

/* #bevel-grey */


.button {
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    /* -fx-background-image: url("../../resources/small_white_football_scaled.png");*/
    /* -fx-graphic: url("../../resources/small_white_football_scaled.png");*/
}


.button:pressed {
    -fx-background-insets: 2,2,2;  
}

.button:hover {
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-effect: dropshadow( three-pass-box , grey , 10, 0.2 , 5 , 3 );
}

.tooltip {
	-fx-background-color:	linear-gradient(lemonchiffon, khaki);
	-fx-text-fill: black;
}